@{
    ViewBag.Title = "Home Page";
}

<head >
    <link href="~/Css/Css.css" rel="stylesheet" type="text/css"/>
</head>

<body class="123">
    <p class="test1">Mua sắm online thuận tiện dễ dàng</p>
    <p class="test2"> <img class="user" src="~/image/user.png"/> Đăng nhập</p>
</body>



<header>
    <img class="logo" src="~/image/logo1.jpg" alt="#" />
    <input class="text" type="text" value="Bạn cần tìm gì?" />
    <input type="button" class="button" value="TÌM KIẾM" />
    <button class="buttonBuy">0 sản phần <br /> 0 VNP </button>
    <button class="buttonBuy1"><img src="~/image/shopping-cart.png" alt="#" /></button>

</header>



<body>
    <nav class="topnav">
        <a href="#">DANH MUC SAN PHAM</a>
        <a href="#"> <img class="list" src="~/image/list.png" /> </a>
        <a href="#">TRANG CHU</a>
        <a href="#">SAN PHAM</a>
        <a href="#">LIEN HE</a>
        <a href="#">CHINH SACH</a>
    </nav>

    <div>
        <img class="banner" src="~/image/baner.png" alt="#" />
    </div>

    <h5>SẢN PHẨM KHUYẾN MẠI</h5>

    <div class="row">
        <div class="column" style="border:ridge">            
            <p style="font-size:15px">Điện thoại Iphone 14 new <br /></p> 
            
            <p style="background-color:orange; width:40px; text-align:center">-40%</p>            
            
            <img class="phone" src="~/image/phone.png" />

            <p style="font-size:18px;color:red">40.000.000 VND</p>

            <p style="text-decoration:line-through">50.000.000 VND</p>

        </div>
        <div class="column" style="border:ridge">
            <p style="font-size:15px">Điện thoại Iphone 14 new <br /></p>

            <p style="background-color:orange; width:40px; text-align:center">-40%</p>

            <img class="phone" src="~/image/phone.png" />

            <p style="font-size:18px;color:red">40.000.000 VND</p>

            <p style="text-decoration:line-through">50.000.000 VND</p>
        </div>
        <div class="column" style="border:ridge">
            <p style="font-size:15px">Điện thoại Iphone 14 new <br /></p>

            <p style="background-color:orange; width:40px; text-align:center">-40%</p>

            <img class="phone" src="~/image/phone.png" />

            <p style="font-size:18px;color:red">40.000.000 VND</p>

            <p style="text-decoration:line-through">50.000.000 VND</p>
        </div>
        <div class="column" style="border:ridge">
            <p style="font-size:15px">Điện thoại Iphone 14 new <br /></p>

            <p style="background-color:orange; width:40px; text-align:center">-40%</p>

            <img class="phone" src="~/image/phone.png" />

            <p style="font-size:18px;color:red">40.000.000 VND</p>

            <p style="text-decoration:line-through">50.000.000 VND</p>
        </div>
    </div>
    <div class="row">
        <div class="column" style="border:ridge">
            <p style="font-size:15px">Điện thoại Iphone 14 new <br /></p>

            <p style="background-color:orange; width:40px; text-align:center">-40%</p>

            <img class="phone" src="~/image/phone.png" />

            <p style="font-size:18px;color:red">40.000.000 VND</p>

            <p style="text-decoration:line-through">50.000.000 VND</p>
        </div>
        <div class="column" style="border:ridge"> 
            <p style="font-size:15px">Điện thoại Iphone 14 new <br /></p>

            <p style="background-color:orange; width:40px; text-align:center">-40%</p>

            <img class="phone" src="~/image/phone.png" />

            <p style="font-size:18px;color:red">40.000.000 VND</p>

            <p style="text-decoration:line-through">50.000.000 VND</p>
        </div>
        <div class="column" style="border:ridge">
            <p style="font-size:15px">Điện thoại Iphone 14 new <br /></p>

            <p style="background-color:orange; width:40px; text-align:center">-40%</p>

            <img class="phone" src="~/image/phone.png" />

            <p style="font-size:18px;color:red">40.000.000 VND</p>

            <p style="text-decoration:line-through">50.000.000 VND</p>
        </div>
        <div class="column" style="border:ridge">
            <p style="font-size:15px">Điện thoại Iphone 14 new <br /></p>

            <p style="background-color:orange; width:40px; text-align:center">-40%</p>

            <img class="phone" src="~/image/phone.png" />

            <p style="font-size:18px;color:red">40.000.000 VND</p>

            <p style="text-decoration:line-through">50.000.000 VND</p>
        </div>

        <p class="xemthem">XEM THÊM >></p>
     </div>

        
       <img style="width:1150px" src="~/image/footer.png" alt="#" />
        
</body>
